<div class="create-account">
  <mat-card class="form-create-account">
    <mat-card-actions novalidate class="mat-layout">
      <mat-card-content class="mat-layout-container">
        <p>Tạo tài khoản</p>
        <div class="card__img">
          <img
            *ngIf="data.gender == gender.MALE"
            src="assets/images/avatar_male.png"
            alt="avatar"
          />
          <img
            *ngIf="data.gender == gender.FEMALE"
            src="assets/images/avatar_female.jpg"
            alt="avatar"
          />
        </div>
          <div class="input-form">
            <mat-form-field class="full-width">
              <mat-label>Tên tài khoản</mat-label>
              <input matInput  [(ngModel)]="data.account"/>
            </mat-form-field>
            <div class="input__error">{{ error.account }}</div>
          </div>
          <div class="input-form">
            <mat-form-field class="full-width">
              <mat-label>Tên</mat-label>
              <input matInput [(ngModel)]="data.name"/>
            </mat-form-field>
            <div class="input__error">{{ error.name }}</div>
          </div>
          <div class="input-form">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Ngày sinh</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="data.dob"/>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="gender__layout">
            <mat-radio-group aria-label="gender" class="full-width" [(ngModel)]="data.gender">
              <label>Giới tính:</label>
              <mat-radio-button [value]="gender.MALE">Male</mat-radio-button>
              <mat-radio-button [value]="gender.FEMALE">Female</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="input-form">
            <mat-form-field class="full-width">
              <mat-label>Địa chỉ</mat-label>
              <input matInput [(ngModel)]="data.address"/>
            </mat-form-field>
          </div>
          <div class="input-form">
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput [(ngModel)]="data.email"/>
            </mat-form-field>
          </div>
      </mat-card-content>
      <div class="btn">
        <a href="/"><button mat-flat-button color="accent">Hủy</button></a>
        <button mat-flat-button color="primary" (click)="saved()">Lưu</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
