<div class="users-page page">
    <div class="page--container">
        <div class="page--header">
          <div class="page--tools">
            <div>
              <input class="search__user" type="search" placeholder="Tìm kiếm" />
            </div>
            <mat-slide-toggle [checked]="checked" (toggleChange)="checked = !checked">{{ checked ? 'Card' : 'List' }}</mat-slide-toggle>
          </div>
          <div>
            <button mat-flat-button color="primary">Thêm tài khoản</button>
          </div>
        </div>
    </div>
    <div class="page--content">
        <div>
            <div *ngFor="let account of accountList">
                <app-user-card *ngIf="checked" [data]="account"></app-user-card>
                <app-user-list *ngIf="!checked" [data]="account"></app-user-list>
            </div>
        </div>
    </div>
</div>
