.users-page {
    width: 100%;
}

.page {
  &--container {
    padding: 60px;
  }

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--tools {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}


