.user__list {
    display: flex;
    align-items: center;
    border-top: solid 1px #e8e8e8;
    border-left: solid 1px #e8e8e8;
    border-right: solid 1px #e8e8e8;
    padding: 10px 40px;
    width: 100%;
    &:last-child {
        border-bottom: solid 1px #e8e8e8;
    }
    .list__img {
        background-color: white;
        border-radius: 999px;
        width: 45px;
        height: 45px;
        overflow: hidden;
        object-fit: cover;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .list__account {
        color: #9e9e9e;
    }
    .list__name {
        font-weight: 500;
    }
    .list__avatar {
        width: 25%;
    }
    .list__email {
        width: 20%;
    }
    .list__date {
        width: 20%;
    }
    .list__gender {
        width: 10%;
    }
    .list__address {
        width: 25%;
    }
    .user__list--container {
        width: 100%;
        display: flex;
        align-items: center;
        color: #9e9e9e;
    }
}

.list__avatar {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}